@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:900");
body {
  margin: 0;
  position: relative;
}

body {
  margin: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.menu {
  width: 14vw;
  height: 100vh;
  background-color: #3E4B5A;
}

.menu__logo {
  width: 100%;
  height: 20vh;
  background-color: #3E4B5A;
  display: flex;
  border-bottom: 3px solid #313645;
}

.menu__logo-icon {
  color: #ffffff;
  font-size: 4.5vw;
  margin: auto;
}

.menu__list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  border-top: 2px solid #525766;
  color: #939CB9;
  padding: 2vw 0;
  border-bottom: 3px solid #313645;
}

.menu__list-title {
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: 0.1vw;
  margin-left: 1.5vw;
  margin-bottom: 2vw;
  font-size: 1vw;
  color: rgba(147, 156, 185, 0.5);
}

.menu__item {
  border-left: none;
  padding: 1vw 1vw;
  width: 100%;
  font-size: 0.8vw;
  text-transform: uppercase;
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: 0.1vw;
  border-left: 4px solid #3E4B5A;
}

.menu__item-icon {
  margin-right: 1vw;
  font-size: 1.4vw;
}

.menu__item:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-left: 4px solid #75C8FF;
  color: #ffffff;
}

.menu__bottom {
  height: 5vw;
  border-top: 2px solid #525766;
}

.dashboard {
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;
}

.dashboard__header {
  background-color: #ffffff;
  border-bottom: 1px solid #f3f3f3;
  color: #c9c9c9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard__header-logo {
  margin-left: 2vw;
  padding-right: 2vw;
  border-right: 1px solid #f3f3f3;
  height: 5vw;
}

.dashboard__header-deconnect-text {
  display: inline;
  font-size: vw;
  margin-right: 1vw;
}

.dashboard__header-deconnect-icon {
  font-size: 1vw;
  margin-right: 2vw;
}

.dashboard__navbar {
  width: auto;
  padding-top: 4vw;
  background-color: #ffffff;
}

.dashboard__navbar-container {
  margin: 0 5vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.dashboard__navbar-item {
  padding: 2vw 1vw 1.5vw;
  margin: 0 1vw 4px;
  text-transform: uppercase;
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: 0.1vw;
  color: #939CB9;
}

.dashboard__navbar-item:hover {
  border-bottom: 4px solid #75C8FF;
  margin-bottom: 0;
  color: #000000;
}

.dashboard__infos {
  width: auto;
  border-top: 2px solid #D7DAE5;
  height: 70vh;
  background-color: #F7FDFF;
}

body {
  font-family: 'Hi Melody', cursive;
  background: linear-gradient(#d3d7d9, #e4e9eb);
}

* {
  box-sizing: border-box;
}

.home {
  box-sizing: border-box;
  padding: 60px 60px 60px 60px;
  margin: 30px 40px 30px 40px;
}

.home__container {
  padding: 15px;
}

.home__form {
  border-radius: 15px 0px 0px 15px;
  background-color: white;
  width: 40%;
  float: left;
  height: 70vh;
  box-shadow: 80px 23px 48px -26px rgba(0, 0, 0, 0.91);
}

.home__logo {
  margin: left;
  padding: 10px;
}

.home__email {
  width: 50%;
  margin: auto;
}

.home__text {
  color: blue;
}

.home__right {
  width: 60%;
  float: right;
  height: 70vh;
}

.home__image {
  height: 70vh;
  border-radius: 0px 15px 15px 0px;
  background-image: url("lol.jpg");
  box-shadow: 25px 23px 48px -26px rgba(0, 0, 0, 0.91);
  display: flex;
  background-size: cover;
}

.home__title {
  text-align: center;
  margin: auto;
  color: white;
  color: white;
  text-shadow: 2px 2px 5px #000000;
  font-size: 40px;
}

.home__title--message {
  color: white;
  opacity: 3;
  text-shadow: 2px 2px 5px #000000;
}

/*# sourceMappingURL=app.css.map */
