/*
author: Deborah Powers
job: Dev Web
school: Simplon Lieusaint
creation: 2017/10/26
update: 2018/03/14

fonctionne avec basic-print.css, qui contient l'organisation de base de mes pages.
*/
/* general */
body * { color: #6b6363; }
html { background: linear-gradient(#b2e3fe, #e4e9eb); }
body {
	max-width: 20cm;
	min-width: 6cm;
	min-height: 20cm;
	background-color: white;
}
a { color: #820; }
/* img {
	background-color: #221000;
	color: #FC8;
} */
hr { background-color: #4BB; }
/* boutons */
input, button, a.button, textarea {
	border: 2px solid #4BB;
	padding: 2mm;
	border-radius: 2mm;
}

