@import 'vars/fonts';


  .block-dashboard {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .menu {
    height: 100vh;
    background-color: rgb(54, 63, 80);

   
    &__logo {
      width: 100%;  
      height: 20vh;
      display: flex;
      border-bottom: 3px solid #313645;

      &-icon {
        color: #ffffff;;
        font-size: 4.5vw;
        margin: auto;
      }
    }
    
    &__list {
      display: flex;      
      flex-flow: column nowrap;
      align-items: flex-start;
      border-top: 2px solid #444855;
      color: #939CB9;
      padding: 2vw 0;
      border-bottom: 3px solid #313645;

      &-title {
        @extend .upper-text;

        margin-left: 1.5vw;
        margin-bottom: 2vw;
        color: rgba(147, 156, 185, 0.5);
      }
    }

    &__item {
      @extend .upper-text;

      border-left: none;
      padding: 1vw 1vw;
      width: 100%;
      font-size: 0.9vw;
      border-left: 4px solid rgb(54, 63, 80);
      margin-right: 3vw;

      &-icon {
        margin-right: 1vw;
        font-size: 1.4vw;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
        border-left: 4px solid #75C8FF;
        color: #ffffff;
      }
    }

    &__bottom {
      height: 5vw;
      border-top: 2px solid #444855;
    }
  }

.dashboard {
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;

  &__header {
    background-color: #ffffff;
    border-bottom: 1px solid #f3f3f3;
    color:#c9c9c9;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      margin-left: 2vw;
      padding-right: 2vw;
      border-right: 1px solid #f3f3f3;
      height: 5vw;
    }

    &-deconnect {
      // display: flex;

      &-text {
        display: inline;
        font-size: vw;
        margin-right: 1vw;
      }

      &-icon {
        font-size: 1vw;
        margin-right: 2vw;
      }
    } 
  }

  &__navbar {
    width: auto;
    padding-top: 4vw;
    background-color: #ffffff;

    &-container {
      margin: 0 5vw;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }

    &-item {
      padding: 2vw 1vw 1.5vw;
      margin: 0 1vw 4px;
      text-transform: uppercase;
      font-family: 'Maven Pro', sans-serif;
      letter-spacing: 0.1vw;
      color: #939CB9;

      &:hover {
        border-bottom: 4px solid #75C8FF;
        margin-bottom: 0;
        color: #000000;
      }
    }   
  }
  &__infos {
    border-top: 2px solid #D7DAE5;
    height: 100%;
    padding-top: 3vw;
    background-color: rgb(229, 243, 248);
    
    &-container {
      width: 50%;
      margin-left: 12%;
      background-color: #fff;
      border-radius: 3px;
    }
  }

  &__title {
    @extend .upper-text;

    background-color: rgb(101, 118, 151);
    padding: 1vw 0;
    padding-left: 5vw;
    color: #ffffff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
  }
  &__profil {
    display: flex;
    flex-flow: row wrap;

    &-block {
      width: 50%;
      display: flex;      
      color: rgb(101, 118, 151);
      padding: 2vw 5vw;
    } 

    &-sub {
    @extend .upper-text;
    font-size: 1vw;
    }

    &-text {
      font-size: 1vw;
      font-family: Roboto;
      margin-left: 2vw;
      text-transform: capitalize;
    }
  }
}