
.login { 
       background: linear-gradient(rgb(178, 227, 254), rgb(228, 233, 235)) ;
       height: 100%;

    &__container {
      padding: 60px 60px;

      @media screen and (max-width: 630px) {
        padding:auto;
        margin: auto;
        height: 70%;
        width: 100%;
      }    
    }

    &__form {
      background-color:white;
      width: 40%;
      height: 70vh; 
      border-radius: 15px 0px 0px 15px;
            -webkit-box-shadow: 80px 23px 48px -26px rgba(0,0,0,0.91);
      -moz-box-shadow: 80px 23px 48px -26px rgba(0,0,0,0.91);
      box-shadow: 80px 23px 48px -26px rgba(0,0,0,0.91);


     @media screen and (max-width: 630px) {    
        height: 60vh;
        width: 100%;
        border-radius: 15px 15px 15px 15px ;
        -webkit-box-shadow: 25px 23px 48px -26px rgba(0,0,0,0.91);
        -moz-box-shadow: 25px 23px 48px -26px rgba(0,0,0,0.91);
        box-shadow: 25px 23px 48px -26px rgba(0,0,0,0.91);
      }
   
    }
  
  &__logo {
    margin: left;
    padding: 10px;
  }

 &__email {
    width: 50%;
    margin: auto;


    @media screen and (max-width: 630px) {
            
        height: 50vh;
        width: 60%;
        }
    @media screen and (max-height: 500px) {
        
        height: 30vh;
    }
  
  }
  
 &__right {
     width: 60%;
    float: right;
   height: 70vh;
    background-image:url('lol.jpg');
         display: flex;
     background-size: cover;
  border-radius: 0px 15px 15px 0px;
    -webkit-box-shadow: 25px 23px 48px -26px rgba(0,0,0,0.91);
  -moz-box-shadow: 25px 23px 48px -26px rgba(0,0,0,0.91);
  box-shadow: 25px 23px 48px -26px rgba(0,0,0,0.91);

      @media screen and (max-width: 630px) {
   
       display:none;

       }

  }

 &__title {

    text-align: center;
    margin: auto;
    color: white;
    color: white;
    text-shadow: 2px 2px 5px #000000;
    font-size: 40px;
    

      &--message {
        color: white;
        opacity: 3;
        text-shadow: 2px 2px 5px #000000;
      }
  }
}
